<div class="mat-dialog-content">
<b>Select level</b>
<table>
    <tr>
        <td (click)="confirm('easy')">
            Easy
        </td>
    </tr>
    <tr>
        <td (click)="confirm('medium')">
            Medium
        </td>
    </tr>
    <tr>
        <td (click)="confirm('hard')">
            Hard
        </td>
    </tr>
    <tr>
        <td (click)="confirm('einstein')">
            Only Einstein
        </td>
    </tr>
</table>    
</div>
<div mat-dialog-actions> 
    <button mat-button (click)="onNoClick()">Close</button> 
</div>
